<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav nav-pills">
            <li><a href="/">Beatnik</a></li>
            <li><a href="/uploads/new"><i class="fa fa-fw fa-folder"></i> Upload</a></li>
            <% if !logged_in %>
            <li><a  href="/users/login"><i class="fa fa-fw fa-file-o"></i>login</a></li>
            <% else %>
            <li><a href="/users/<%= current_user.id %>"><i class="fa fa-fw fa-file-o"></i><%= current_user.user_name %></a></li>
            <li>
              <i class="fa fa-fw fa-file-o"></i>
              <form action='/users/logout' method='POST'>
                <input type='hidden' name ='_method' value="delete">
                <input type='submit' value='logout' class="btn btn-link">
              </form>
            </li>
            <% end %>
            <% if @upload %>
              <li>
                <audio id="visualAudio" controls>
                  <source src="<%= @upload.file_name %>" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
              </li>
              <% if logged_in && @upload.user_id == current_user.id %>
                <li>
                  <form method='POST' action="/uploads" >
                    <input type='hidden' name='_method' value='delete'>
                    <p><input type='submit' value='DELETE' class="btn btn-link"></p>
                  </form>
                </li>
              <% end %>
            <% else %>
              <li>no uploads</li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i>Playlists<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Playlist 1</li>
                <% Upload.all.each do |upload| %>
                  <li><a href="/uploads/<%= upload.id %>"><%= upload.title %></a></li>
                <% end %>
              </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->
